{% extends 'women/base.html' %} 
{% block content %}
  <div class="block">
    <div class="article-panel">
      <p class="first">
        {% if post.cat != None %} 
          Категория: {{ post.cat }} 
        {% endif %}
      </p>
      <p class="last">Дата: {{ post.time_update|date:'d-m-Y H:i:s' }}</p>
    </div>
    <h1>{{post.title}}</h1>
    <p>
      {% if post.photo %}
        <img class="img-article-left" src="{{post.photo.url}}" />
      {% endif%}
      {{post.content|linebreaks}} 
    </p>
  </div>
{% endblock %}
